@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap'););

*{
    margin: 0 auto;
    padding: 0;
}








body {
    font-family: "open Sans";
    font-size: 16px;
}

h2{
font-size: 2rem;
font-weight: 300;
}

header{

    height: 500px;
    background-image: url(../images/apple-pie.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
justify-content: center;
align-items: center;
color: #fafafa;

}

header h1{

    font-weight: 400;
    font-size: 3rem;
}

main img{
width:  50%;
display: block;
margin: auto;

}

main{
    padding: 4rem;
}

main section{
    padding: 2rem 0;

}

#recipe-information p{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 2.5rem 0;
    text-align: justify;
}

#ingredients ul {
    list-style-type:"-";
    margin: 0 0 1rem 1rem;
}

#directions ol{
    list-style-type: none;
    counter-reset: none;
}

#directions ol li: ::before{
    c
}